html * {
    font-family: "IBM Plex Mono";
}

.main-salut {
    padding-top: 10%;
    padding-bottom: 10%;
}

.salut {
    font-size: 6vw;
    font-weight: 700;
}

.main-section {
    background-color: whitesmoke;
}

.section-heading {
    background-color: black;
    color: white;
    padding: 5px;
    display: inline-block;
    box-shadow: 3px 3px #5c635c;
    margin-bottom: 20px;
}

.footer-icons {
    font-size: 3em;
}

.blog-prv {
    cursor: pointer;
}